.border {
    border: 1px solid black;
}

.button-validate {
    margin: 10px;
    padding: 10px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid black;
    background: #B36DF5;
    color: white;
    box-shadow: 3px 3px 3px 0px rgb(0 0 0 / 75%);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.center-legend {
    display: flex;
    justify-content: center;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin: 0 10px;
    display: flex;
}

.circle-black {
    background-color: black;
}

.circle-blue {
    background-color: blue;
}

.circle-green {
    background-color: green;
}

.circle-purple {
    background-color: purple;
}

.circle-red {
    background-color: red;
}

.circle-white {
    background-color: white;
}

.choice-bord {
    display: flex;
    flex-direction: row;
    background-color: brown;
}

.choice-drag-drop {
    display: flex;
    flex-direction: row;
    width: 310px;
}

.legend {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.margin-10 {
    margin: 10px;
}

.padding-10 {
    padding: 10px;
}
.pointer {
    cursor: pointer;
}

.width-70 {
    width: 70px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2px;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
}

.triangle-code-perfect{
    display : inline-block;
    margin: 2px 5px;
    height : 0;
    width : 0;
    border-right : 12px solid transparent;
    border-bottom : 20px solid #80F33E;
    border-left : 12px solid transparent;
}

.triangle-code-good{
    display : inline-block;
    margin: 2px 5px;
    height : 0;
    width : 0;
    border-right : 12px solid transparent;
    border-bottom : 20px solid #FFAB4C;
    border-left : 12px solid transparent;
}
